# Auto detect text files and perform LF normalization
* text=auto

# Vytvoří soubor README.md jako prioritní pro zobrazení na GitHubu.
README.md linguist-documentation

# Zakáže zvýrazňování souborů se jménem CONTRIBUTING.md v liště.
CONTRIBUTING.md linguist-documentation linguist-filename
